.App {
  height: 100%;
}

.main-layout {
  height: 100%;
}

.site-layout{
  height: 100%;
}

.tab-customer {
  height: 100%;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.menu-edit {
  color: blueviolet;

}

.menu-delete {
  color: #ff4d4f;
}

.ant-tabs-nav {
  margin: 0 !important;
}

.ant-tabs-content-holder {
  height: 100%;
}

.ant-tabs-content {
  height: 100%;
}

.ant-tabs-tabpane {
  height: 100%;
}

.result-show {
  min-height: 50vh;
  padding-top: 35%;
}

.bottom-button-collapsed {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 50px;
}

.bottom-button {
  position: fixed;
  z-index: 999;
  bottom: 0;
  left: 22px;
}